<div class="doctor-profile panel panel-default">
  <div class='panel-body'>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <img data-ng-src="{{ doctor.image }}" class="photo" />
      </div>
      <div class="col-xs-6 col-md-6">
        <h3>
          {{ doctor.name }}
        </h3>
        <div>{{ doctor.address.street }}</div>
        <div>{{ doctor.address.city }}, {{ doctor.address.prov }}</div>
        <div>{{ doctor.address.postal }}</div>
        <br/>
        <button event='phone' class='btn btn-success call' onClick='ext.track(this);'>
          <span class='glyphicon glyphicon-earphone'></span>&nbsp;Call {{doctor.phone}}
        </button>
      </div>
      <div class="col-md-3">
        <h3>Availability</h3>
        <div>
          <strong>Monday:</strong>
          <span data-ng-if="doctor.availability.Monday">{{ doctor.availability.Monday }}</span>
          <span data-ng-if="!doctor.availability.Monday"><em>No availability</em></span>
        </div>
        <div>
          <strong>Tuesday:</strong>
          <span data-ng-if="doctor.availability.Tuesday">{{ doctor.availability.Tuesday }}</span>
          <span data-ng-if="!doctor.availability.Tuesday"><em>No availability</em></span>
        </div>
        <div>
          <strong>Wednesday:</strong>
          <span data-ng-if="doctor.availability.Wednesday">{{ doctor.availability.Wednesday }}</span>
          <span data-ng-if="!doctor.availability.Wednesday"><em>No availability</em></span>
        </div>
        <div>
          <strong>Thursday:</strong>
          <span data-ng-if="doctor.availability.Thursday">{{ doctor.availability.Thursday }}</span>
          <span data-ng-if="!doctor.availability.Thursday"><em>No availability</em></span>
        </div>
        <div>
          <strong>Friday:</strong>
          <span data-ng-if="doctor.availability.Friday">{{ doctor.availability.Friday }}</span>
          <span data-ng-if="!doctor.availability.Friday"><em>No availability</em></span>
        </div>
      </div>
    </div>
    <div ng-if="doctor.reviews.length > 0" class="reviews">
      <h2>Reviews</h2>
      <div class="list-group">
        <div data-ng-repeat="review in doctor.reviews" class="list-group-item">
          <div class='row'>
            <div class="col-xs-6 col-md-3">
              <div><strong>Overall Rating: </strong>{{review.rating}} / 5</div>
              <div class="attributes">
                <div><strong>Staff: </strong>{{ review.attributes.staff }} / 5</div>
                <div><strong>Punctuality: </strong>{{ review.attributes.punctual }} / 5</div>
                <div><strong>Helpfulness: </strong>{{ review.attributes.helpful }} / 5</div>
                <div><strong>Knowledgability: </strong>{{ review.attributes.knowledge }} / 5</div>
              </div>
            </div>
            <div class="col-xs-6 col-md-9">
              {{ review.comments }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
        <div class='col-xs-12'>
          <img class='map' src="http://maps.googleapis.com/maps/api/staticmap?center={{ doctor.address.gps.lat }},{{ doctor.address.gps.long }}&zoom=15&size=500x300&sensor=false" />
        </div>
      </div>
  </div>